* {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.libre-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}

.libre-regular-i {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

.libre-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
}

.dancing {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

img {
    max-width: 100%;
}

body {
    background-color: #f9f5f3;
}

:root {}