.myPosts {
    margin-top: 50px;

    &_container {
        max-width: 1140px;
        margin: auto;

        .myPosts_title {
            text-align: center;
            padding: 0px 50px;

            h4 {
                text-transform: uppercase;
                font-size: 18px;
                color: #FA5264;
                letter-spacing: 2px;
                font-weight: 500;
                margin-bottom: 24px;
            }

            p {
                font-size: 19px;
                margin-bottom: 50px;
            }
        }

        .posts_cards {
            h2 {
                letter-spacing: 2px;
                text-transform: uppercase;
            }

            .posts_card {
                .card_text {
                    p {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    .myPosts {
        margin-top: 50px;

        &_container {
            max-width: 1140px;
            margin: auto;
            .myPosts_title {
                text-align: center;
                // width: 300px;
                // margin: auto;
                h4 {
                    text-transform: uppercase;
                    font-size: 18px;
                    color: #FA5264;
                    letter-spacing: 2px;
                    font-weight: 500;
                    margin-bottom: 24px;
                }

                p {
                    font-size: 19px;
                    margin-bottom: 50px;
                }
            }

            .posts_cards {
                h2 {
                    letter-spacing: 2px;
                    text-transform: uppercase;
                }

                .posts_card {
                    .card_text {
                        p {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}