#posts{
    padding: 120px 0px;
    .posts_container{
        max-width: 1140px;
        margin: auto;
        .posts_content{
            .posts_title{
                .line{

                }
                h2{
                    font-size: 60px;
                    text-align: center;
                }
            }
        }
    }
}