#createPost{
    padding: 120px 0px;
    .create_post_container{
        max-width: 1200px;
        margin: auto;
        display: grid;
        .create_post_content{
            width: 600px;
            margin: auto;
            padding: 30px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            h2{

            }
            .form_error_message{
                background-color: red;
                color: white;
                font-size: 16px;
                padding: 8px;
                border-radius: 8px;
                margin: 10px 0px;
            }
            form{
                
                
                input{
                    width: 100%;
                    margin-bottom: 10px;
                    padding: 8px;
                    border-radius: 10px;

                }
                .create_btn{
                    padding: 6px 12px;
                    border: none;
                    background-color: black;
                    border-radius: 10px;
                    color: white;
                }
            }
        }
    }
}