footer {
    background-color: #292929;
    min-height: 20vh;

    .footer_container {
        max-width: 1140px;
        margin: auto;

        .footer_content {
            padding: 30px 60px;
            display: flex;
            align-items: center;
            gap: 80px;
            justify-content: space-evenly;

            a {
                // color: hsl(0, 0%, 28%);
                color: rgb(201, 181, 181);
                font-size: 50px;
                font-weight: bold;
                font-family: monospace;
                letter-spacing: 7px;
                cursor: pointer;
            }

            a span {
                transition: 0.5s ease-out;
            }

            a:hover span:nth-child(1) {
                margin-right: 5px;
            }

            a:hover span:nth-child(1):after {
                content: "'";
            }

            a:hover span:nth-child(2) {
                margin-left: 30px;
            }

            a:hover span {
                color: #fff;
                text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
            }

            p {
                position: relative;
                color: hsl(0, 0%, 68%);
                font-weight: bold !important;
                font-family: "Anonymous Pro", monospace !important;
                letter-spacing: 7px !important;
                overflow: hidden;
                border-right: 2px solid hsl(0, 0%, 80%);
                white-space: nowrap;
                animation: typewriter 4s steps(44) 1s 1 normal both,
                    blinkTextCursor 500ms infinite;
            }

            @keyframes typewriter {
                from {
                    width: 0;
                }

                to {
                    width: 710px;
                }
            }

            @keyframes blinkTextCursor {
                from {
                    border-right-color: hsl(0, 0%, 80%);
                }

                to {
                    border-right-color: transparent;
                }
            }

            .footer_icons {
                display: flex;
                align-items: center;
                gap: 20px;

                .footer_icon {
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                    display: grid;
                    place-items: center;
                    transition: 0.5s all ease;
                    cursor: pointer;

                    i {
                        color: white;
                    }

                    &:hover {
                        border: 1px solid white;
                        transform: scale(1.1);

                    }

                    // &:hover i {
                    //     color: black;
                    // }
                }
            }
        }
    }

}

@media (max-width: 575.98px) {
    footer {
        .footer_container {
            .footer_content {
                padding: 30px 60px;
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 80px;
                justify-content: space-evenly;
                a {
                    color: rgb(201, 181, 181);
                    font-size: 50px;
                }
                p {
                    position: relative;
                    color: hsl(0, 0%, 68%);
                    font-weight: bold !important;
                    font-family: "Anonymous Pro", monospace !important;
                    letter-spacing: 7px !important;
                    overflow: hidden;
                    border-right: 2px solid hsl(0, 0%, 80%);
                    white-space: nowrap;
                    animation: typewriter 4s steps(44) 1s 1 normal both,
                        blinkTextCursor 500ms infinite;
                }

                @keyframes typewriter {
                    from {
                        width: 0;
                    }

                    to {
                        width: 350px;
                    }
                }

                @keyframes blinkTextCursor {
                    from {
                        border-right-color: hsl(0, 0%, 80%);
                    }

                    to {
                        border-right-color: transparent;
                    }
                }

                .footer_icons {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    .footer_icon {
                        height: 40px;
                        width: 40px;
                        border-radius: 50%;
                        display: grid;
                        place-items: center;
                        transition: 0.5s all ease;
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}