#error_page {
    min-height: 100vh;
    display: grid;
    place-items: center;

    .error_container {
        text-align: center;

        h1 {
            font-size: 60px;

            i {
                color: red;
                margin-right: 10px;
            }
        }
    }
}

@media (max-width: 575.98px) {
    #error_page {
        .error_container {
            h1 {
                font-size: 25px;
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #error_page {
        .error_container {
            h1 {
                font-size: 35px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #error_page {
        .error_container {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #error_page {
        .error_container {
            h1 {
                font-size: 50px;
            }
        }
    }
}

@media (min-width: 1200px) {
    #error_page {
        .error_container {
            h1 {
                font-size: 60px;
            }
        }
    }
}